<mat-toolbar class="navbar sticky-top " layout="row" color="primary">
    <span class="navbar-brand">{{title}}</span>
    
    <div fxLayout="row" fxShow="false" fxShow.gt-sm>

        <button mat-button routerLink="/">
            <mat-icon>home</mat-icon>
        </button>
        <span class="fill-remaining-space"></span>
        <button mat-button routerLink="/cliente">Cliente <mat-icon>account_circle</mat-icon></button>
        <button mat-button routerLink="/vendedor">Vendedor <mat-icon>face</mat-icon></button>
        <button mat-button routerLink="/categoria">Categoria <mat-icon>assignment</mat-icon></button>
        <button mat-button routerLink="/marca">Marca <mat-icon>copyright</mat-icon></button>
        <button mat-button routerLink="/produto">Produto <mat-icon>add_box</mat-icon></button>
        <button mat-button routerLink="/cliente">Modo PGTO <mat-icon>payment</mat-icon></button>
        <button mat-button routerLink="/cliente">Venda <mat-icon>shoppping_cart</mat-icon></button>
        <button mat-button routerLink="/historico">Historico <mat-icon>history</mat-icon></button>
    </div>
    <!-- <span class="fill-remaining-space"></span> -->

    <button mat-button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
        Admin
    </button>


</mat-toolbar>

<mat-menu x-position="before" #menu="matMenu">
    <button mat-menu-item routerLink="/logout">Logout</button>
</mat-menu>