<div class="row">
    <div class="col-sm-6">
        <div class="card bg-info text-white mb-3">
            <div class="card-body">
                <h4 class="card-title">Vendas</h4>
                <p class="card-text">Total: 20 vendas</p>
                <p class="card-text">R$: 50,00</p>
                <button class="btn btn-primary" routerLink="/venda">Vendas</button>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card bg-success text-white mb-3">
            <div class="card-body">
                <h4 class="card-title">Clientes cadastrados</h4>
                <p class="card-text">Ativos: {{ativos}} clientes</p>
                <p class="card-text">Inativos: {{inativos}} clientes</p>
                <button class="btn btn-primary" routerLink="/cliente">Clientes</button>
            </div>
        </div>
    </div>
</div>