<div class="row">
    <div class="col-md-6">
        <div class="text-left">
            <button mat-button routerLink="/">
                <mat-icon>arrow_back</mat-icon>
            </button>
        </div>
    </div>
    <div class="col-md-6">
        <div class="text-right">
            <button mat-fab routerLink="/cliente/novo">
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </div>
</div>
<div cellspacing="0">
    <mat-form-field style="width:100%">
        <input matInput name="searchString" [(ngModel)]="searchString" placeholder="Pesquisar cliente">
    </mat-form-field>
</div>
<table class="table table-hover table-responsive-md">
    <thead>
        <tr>
            <th>Status</th>
            <th>Nome</th>
            <th>Endereço</th>
            <th>Cidade</th>
            <th>Bairro</th>
            <th>CPF</th>
            <th>Telefone</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let cliente of pagedItems | filter : searchString; let i = index">
            <td>
                <mat-icon [ngStyle]="{'color': cliente.status? '#64DD17' : '#E53935'}">fiber_manual_record</mat-icon>
            </td>
            <td>{{cliente.nome}}</td>
            <td>{{cliente.endereco}}</td>
            <td>{{cliente.cidade}}</td>
            <td>{{cliente.bairro}}</td>
            <td>{{cliente.cpf}}</td>
            <td>{{cliente.telefone}}</td>
            <td>
                <button [routerLink]="['/cliente', cliente._id]" mat-button>
                    <mat-icon>mode_edit</mat-icon>
                </button>
            </td>
            <td>
                <button mat-button [mat-menu-trigger-for]="deleteMenu" fxHide="false" fxHide.gt-sm>
                    <mat-icon>delete</mat-icon>
                </button>
            </td>

            <mat-menu x-position="after" #deleteMenu="matMenu">
                <button mat-menu-item (click)="delete(cliente._id)">Sim</button>
                <button mat-menu-item>Não</button>
            </mat-menu>
        </tr>
    </tbody>
</table>

<div class="text-rigth">
    <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
        <li [ngClass]="{disabled:pager.currentPage === 1}">
            <button mat-button (click)="setPage(1)">Primeira</button>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === 1}">
            <button mat-button (click)="setPage(pager.currentPage - 1)">Anterior</button>
        </li>
        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
            <button mat-button (click)="setPage(page)">{{page}}</button>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
            <button mat-button (click)="setPage(pager.currentPage + 1)">Proxima</button>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
            <button mat-button (click)="setPage(pager.totalPages)">Ultima</button>
        </li>
    </ul>
</div>