tr {
    width: 100%;
    display: inline-table;
    table-layout: fixed;
}

table {
    height: 450px;
    display: -moz-groupbox;
}

tbody {
    /* overflow-y: scroll; */
    height: 400px;
    width: 100%;
    position: absolute;
}