<div class="row row-offcanvas row-offcanvas-left">
  <div class="col-md-3 col-lg-2 sidebar-offcanvas" id="sidebar" role="navigation">
    <ul class="nav flex-column pl-1">
      <li class="nav-item">
        <a class="nav-link" href="#">Overview</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#submenu1" data-toggle="collapse" data-target="#submenu1">Reports▾</a>
        <ul class="list-unstyled flex-column pl-3 collapse" id="submenu1" aria-expanded="false">
          <li class="nav-item">
            <a class="nav-link" href="">Report 1</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">Report 2</a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Analytics</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Export</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Snippets</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Flexbox</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Layouts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Templates</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Themes</a>
      </li>
    </ul>
  </div>
  <!--/col-->
</div>